[Unit]
Description=Containerized APP_NAME
Requires=docker.service
After=docker.service

[Service]
Type=simple
User=APP_USER
ExecStart=/usr/local/bin/APP_NAME service
ExecStop=/usr/bin/docker stop -t 2 APP_NAME
ExecStopPost=/usr/bin/docker rm -f APP_NAME
Restart=on-abort
TimeoutSec=20

[Install]
WantedBy=multi-user.target
